#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about::after {
    content: "";
    height: 2px;
    width: 70%;
    background-color: var(--red-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about--text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
}

.about--text-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 150%;  
}

.about--img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.about--img {
    width: 70%;
    aspect-ratio: 1/1;
    filter:  drop-shadow(-10px -10px 8px rgba(0, 0, 0, 0.6));
    border-radius: 50%;
}

.about--img-container::after {
    content: "";
    width: 40%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 1%;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    box-shadow :  0 0 12px rgba(0, 0, 0, 1);
}


@media (max-aspect-ratio: 1/1) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }

    .about--text {
        flex-grow: 1;
        gap: 0;
        font-size: 0.9rem;
        justify-content: space-evenly;
    }

    .about--img-container::after {
        bottom: 0px;
        left: 50%;
        transform: translateY(190%) translateX(-50%);
        height: 10px;
    }
}