.arrow-btn-container {
    height: 40px;
    width: max-content;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.arrow-btn {
    height: 100%;
    background-color: transparent;
    border: none;
}

.arrows-container {
    position: relative;
    height: 40px;
    width: 20px;
}

.arrows-container > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    padding: 0 10px;
    width: auto;
    cursor: pointer;
}

.arrows-container > img:nth-child(2) {
    transform: translateY(-120%);
}

.arrow-btn:hover .down-arrow-img:nth-child(1) {
    animation: moveFirstArrowDown 1s linear infinite;
}

.arrow-btn:hover .down-arrow-img:nth-child(2) {
    animation: moveSecondArrowDown 1s linear infinite;
}

.arrow-btn:hover .up-arrow-img:nth-child(1) {
    animation: moveFirstArrowUp 1s linear infinite;
}

.arrow-btn:hover .up-arrow-img:nth-child(2) {
    animation: moveSecondArrowUp 1s linear infinite;
}


@keyframes moveFirstArrowDown {
    0% {
        transform: translateY(0%) translateX(-50%);
    }

    100% {
        transform: translateY(120%) translateX(-50%);
    }
}

@keyframes moveSecondArrowDown {
    0% {
        transform: translateY(-120%) translateX(-50%);
    }

    100% {
        transform: translateY(0%) translateX(-50%);
    }
}

@keyframes moveFirstArrowUp {
    0% {
        transform: translateY(0%) translateX(-50%);
    }

    100% {
        transform: translateY(-120%) translateX(-50%);
    }
}

@keyframes moveSecondArrowUp {
    0% {
        transform: translateY(120%) translateX(-50%);
    }

    100% {
        transform: translateY(0%) translateX(-50%);
    }
}